/* MN */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent {
    background: #01191F;
    font-family: 'Inter', sans-serif !important;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent:hover .bb-core .bb-button-wrapper .bb-button {
    background: #ffffff;
    transition: background-color 0.5s, color 0.5s; 
  }

  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core {
    margin-right: 30px;
  }

  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan {
    display: flex;
    gap: 40px;
  }

  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-logo {
    width: 169px;
    height: 22px; 
    overflow: hidden;
    background-image: url('https://vueschool.io/images/banners/assets/MASTERING_NUXT/logo.svg');
        background-repeat: no-repeat; 
        position: relative;
        margin-right: 50px;
        
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude {
    order: 1;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   color: white;
   display: flex;
   align-items: center;
   text-transform: uppercase;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude span span {
    color: #0BD88F;
}


#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container {
    order: 3;
}


#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container {
    order: 5;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-button-wrapper {
    order: 4;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle {
    color: var(--White, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle span {
    font-weight: 700;
}


#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title span {
    color: #0BD88F;
 }

 #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-button-wrapper .bb-button {
    display: flex;
    height: 40px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #0BD88F;
    color: #212435;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-addendum {
    color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container {
    order: 4;
    display: flex;
    align-items: center;
    gap: 20px;
}



#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    border-radius: 4px;
background: rgba(44, 226, 126, 0.20);
color: var(--White, var(--White, #fff));
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.6px;
}


@media screen and (min-width: 1600px) {
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core,  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan {
        gap: 50px;
    }
}

@media screen and (max-width: 1440px) {
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 18px;
    } 



    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown {
        color: #fff;
        padding: 0px;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 145.455% */
    letter-spacing: 1px;
    background: transparent;
    }
}

@media screen and (max-width: 1280px) {
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 15px;
    } 

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-logo {
        width: 35px;
        height: 22px; 
        overflow: hidden;
        background-image: url('https://vueschool.io/images/banners/assets/MASTERING_NUXT/mark.svg');
            background-repeat: no-repeat; 
            position: relative;
            margin-right: 30px;
            
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude {
        max-width: 53px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core,  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan {
        gap: 30px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-button-wrapper {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core,  #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan {
        flex-direction: column;
        gap: 1px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container {
        max-width: 240px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 11px;
    } 

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude {
        max-width: fit-content;
    }

    

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: row;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        font-size: 11px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 365px) {
    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-slogan .bb-prelude, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 10px;
    }

    #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown, #bb-banner.bb-campaign-mn-nuxt4-affiliates-launch-urgent .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
        font-size: 10px;
    }
}