@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

#bb-banner.bb-campaign-js-cert-launch {
    background: #0B0C15;
    font-family: 'Inter', sans-serif;
}

#bb-banner.bb-campaign-js-cert-launch:hover .bb-core .bb-button-wrapper .bb-button {
    background: #ffffff;
    color: var(--Background, #1E1E20); 
    transition: background-color 0.5s, color 0.5s; 
  }



#bb-banner.bb-campaign-js-cert-launch .bb-logo {
    width: 46px;
height: 46px;
    position: relative;
    margin-right: 40px;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container {
    order: 3;
    width: 280px;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container .bb-countdown-wrapper {
    order: 3;
    display: flex !important;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-interlude {
    order: 3;
    white-space: nowrap;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container {
    order: 1;
}



#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-interlude, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
    color: var(--Body-Text, white);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-title span {
    background: #F7DF1E;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container {
    display: none !important;
 }

 #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    order: 2;
 }

 #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude span {
display: flex;
padding: 10px 15px;
align-items: center;
gap: 10px;
border-radius: 8px;
background: rgba(247, 223, 30, 0.20);
color: var(--White, var(--White, #FFF));
text-align: center;
leading-trim: both;
text-edge: cap;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }



 #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude::before {
     content: 'LAUNCHES ON';
     color: var(--White, #FFF);
text-align: center;
leading-trim: both;
text-edge: cap;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
text-transform: uppercase;
display: flex;
align-items: flex-start;
 }

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-subtitle {
    color: var(--White, var(--White, #FFF));
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;


}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan {
    gap: 40px;
}


#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-button-wrapper .bb-button {
    color: var(--Dark-Background, #1E1E20);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
height: 42px;
padding: 0px 18px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F7DF1E;
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container .bb-countdown-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
}

#bb-banner.bb-campaign-js-cert-launch .bb-core .bb-countdown-container  .bb-countdown-wrapper  .bb-countdown-footer {
    color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase; 
}


@media screen and (max-width: 1600px) {
    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-interlude {
        display: none;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-subtitle, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
        color: var(--White, var(--White, #FFF));
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: block;
        max-width: 250px;   
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude span {
        padding: 0px;
        background-color: transparent;
        font-size: 14px;
        text-align: center;

    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core {
        gap: 30px;
    }
    

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude::before {
        color: var(--White, #FFF);
text-align: center;
leading-trim: both;
text-edge: cap;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
text-transform: uppercase;
display: flex;
padding: 6px 6px;
align-items: center;
justify-content: center;
gap: 10px;
border-radius: 4px;
    }
 
}

@media screen and (max-width: 768px) {
    #bb-banner.bb-campaign-js-cert-launch .bb-logo {
        width: 35.455px;
height: 36px;
        position: absolute;
        margin-right: 30px;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan {
        flex-direction: column;
        gap: 0px;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-button-wrapper {
        display: none;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-subtitle, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
        font-size: 16px;
        max-width: 200px;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude {
        display: flex;
        flex-direction: row !important;
        gap: 2px;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude span {
        
        color: white;
        padding: 0px;
        font-size: 12px;
        font-weight: 600;
    }

    #bb-banner.bb-campaign-js-cert-launch .bb-core .bb-slogan .bb-prelude::before {
       background: transparent;
       padding: 0px;
       color: white !important;
       font-size: 10px;

    }
}