/* Cert */

#bb-banner.bb-campaign-vuebundle {
  background: #131620;
}

#bb-banner.bb-campaign-vuebundle .bb-logo {
  width: 55px;
  height: 32px;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-slogan .bb-title-container {
  width: 270px;
}

#bb-banner.bb-campaign-vuebundle .bb-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

#bb-banner.bb-campaign-vuebundle .bb-title em {
  color: #b01dda;
  font-style: normal;

  background: linear-gradient(270deg, #F91DAE 0%, #7E1DF9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

#bb-banner.bb-campaign-vuebundle .bb-title strong {
  color: #f91dae;
}

#bb-banner.bb-campaign-vuebundle .bb-subtitle {
  color: #FFF;
  font-size: 12px;
}

#bb-banner.bb-campaign-vuebundle .bb-core {
  transform: translateX(20px);
}

#bb-banner.bb-campaign-vuebundle:hover .bb-core .bb-button-wrapper .bb-button {
  background: #55239c;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-button-wrapper {
  display: none;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-button-wrapper .bb-button {
  border-radius: 50px;
  color: #FFF;
  padding: 10px 30px;
  line-height: 1;
  background: rgba(126, 29, 249, 0.20);
  font-size: 14px;
  border: 2px solid #8C31FF;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-countdown-wrapper .bb-countdown {
  color: #FFF;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-countdown-wrapper .bb-countdown-footer {
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#bb-banner.bb-campaign-vuebundle .bb-core .bb-addendum {
  color: #FFF;
  padding: 8px 20px;
  border-radius: 100px;
  text-transform: uppercase;
  order: 3;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  background: linear-gradient(107deg, rgba(248, 100, 189, 0.50) 0%, rgba(71, 133, 254, 0.50) 100%);
}

@media (min-width: 768px) {
  #bb-banner.bb-campaign-vuebundle .bb-logo {
    width: 143px;
    height: 29px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-core .bb-slogan .bb-title-container {
    width: 275px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-title {
    font-size: 14px;
    font-weight: 700;
  }

  #bb-banner.bb-campaign-vuebundle .bb-subtitle {
    font-size: 14px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-core .bb-button-wrapper {
    display: block;
  }

  #bb-banner.bb-campaign-vuebundle .bb-core .bb-countdown-wrapper .bb-countdown {
    border-radius: 4px;
    background: #28174b;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    padding: 4px 8px;
  }
}

@media (min-width: 1280px) {
  #bb-banner.bb-campaign-vuebundle .bb-core .bb-slogan {
    width: auto;
  }

  #bb-banner.bb-campaign-vuebundle .bb-logo {
    width: 230px;
    height: 60px;
    position: static;
    transform: translateX(-40px);
    background-size: cover;
  }

  #bb-banner.bb-campaign-vuebundle .bb-title {
    font-size: 16px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-subtitle {
    font-size: 16px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-core {
    transform: translateX(-60px);
  }

  #bb-banner.bb-campaign-vuebundle .bb-core .bb-button-wrapper .bb-button {
    font-size: 16px;
  }

  #bb-banner.bb-campaign-vuebundle .bb-core .bb-slogan .bb-title-container {
    width: auto;
  }
}

@media (min-width: 1440px) {
  #bb-banner.bb-campaign-vuebundle .bb-logo {
    width: 375px;
    height: 50px;
    transform: translateX(-60px);
  }
}